body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

ul {
  display: flex;
  flex-wrap: nowrap;
  width: 90vw;
}

input {
  width: 40vw;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  width: auto;
}

.hour {
  display: flex; 
  text-align: center;
  justify-content: center;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 15vw;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  width: auto;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1150px) {
  .hour {
    width: 15vw;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  .hour {
    width: 15vw;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .hour {
    width: 15vw;
  }

  body {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
  }
  
  .saveBtn {
    padding: 0;
    margin: 0;
  }
}